<section class="personal-info">
  <div class="personal-info__description">
    <h2 class="personal-info__main-text">Personal info</h2>
    <p class="personal-info__description-text">
      Please provide your name, email address, and phone number.
    </p>
  </div>
  <div class="personal-info__form">
    <label class="personal-info__form__text__label">Name</label>
    <mat-form-field appearance="outline" class="personal-info__form__field">
      <input matInput placeholder="e.g. Stephen King" [formControl]="name" />
    </mat-form-field>

    <div class="personal-info__form__text">
      <label class="personal-info__form__text__label">Email Address</label>
      <mat-error *ngIf="email.touched && email.invalid">{{
        getEmailErrorMessage()
      }}</mat-error>
    </div>
    <mat-form-field appearance="outline" class="personal-info__form__field">
      <input
        matInput
        placeholder="e.g. stephenking@lorem.com"
        [formControl]="email"
      />
    </mat-form-field>

    <div class="personal-info__form__text">
      <label class="personal-info__form__text__label">Phone Number</label>
      <mat-error *ngIf="phone.touched && phone.invalid">{{
        getPhoneErrorMessage()
      }}</mat-error>
    </div>
    <mat-form-field appearance="outline" class="personal-info__form__field">
      <span matTextPrefix *ngIf="phone.value != ''">+53 </span>
      <input matInput placeholder="e.g. +1 234 567 890" [formControl]="phone" />
    </mat-form-field>
  </div>
</section>
