@use "/src/styles/variables";
@use "/src/styles.scss";
.plan-selector {
  @include styles.flex(column, 1rem);

  &__description-text {
    @include styles.secondary-text();
  }

  &__plans {
    @include styles.flex(row, 1rem);
    margin-top: 1.5rem;
    margin-bottom: 1rem;

    &__plan {
      @include styles.flex(column, 0.25rem);
      justify-content: space-between;

      border: solid 2px;
      border-color: variables.$color-neutral-light-gray;
      border-radius: 0.25rem;
      width: 100%;
      padding-left: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;

      font-size: 0.95rem;

      &:hover {
        cursor: pointer;
        border-color: variables.$color-primary-marine-blue;
      }

      &__icon {
        width: 50px;
        height: 50px;
        margin-bottom: 3rem;
      }

      &__monthly-rate {
        color: variables.$color-neutral-cool-gray;
      }

      &__yearly-rate {
        color: variables.$color-neutral-cool-gray;
      }

      &__discount {
        font-size: 0.8125rem;
      }
    }
  }

  &__billing-selector {
    @include styles.flex(row, 1rem);
    background-color: variables.$color-neutral-alabaster;
    font-weight: 500;
    width: 100%;
    height: 50px;
    align-items: center;
    place-content: center;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: variables.$color-neutral-light-gray;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: variables.$color-primary-marine-blue;

  &::before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.inactive {
  color: variables.$color-neutral-cool-gray;
}

.selected_plan {
  border-color: variables.$color-primary-marine-blue;
}

.non-visible {
  display: none;
}

@media screen and (max-width: 376px) {
  .plan-selector {
    gap: 0.25rem;

    &__plans {
      @include styles.flex(column, 1rem);
      &__plan {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 65px 1fr;
        align-items: center;
        border-radius: 0.75rem;

        &__icon {
          margin-bottom: 0;
          grid-column-start: 1;
          grid-row-start: 1;
          grid-row-end: 4;
        }

        &__plan-type {
          grid-column-start: 2;
          grid-row-start: 1;
          grid-row-end: 2;
        }

        &__monthly-rate {
          grid-column-start: 2;
          grid-row-start: 2;
          grid-row-end: 3;
        }

        &__yearly-rate {
          grid-column-start: 2;
          grid-row-start: 2;
          grid-row-end: 3;
        }

        &__discount {
          grid-column-start: 2;
          grid-row-start: 3;
          grid-row-end: 4;
        }
      }
    }

    &__billing-selector {
      border-radius: 0.75rem;
    }
  }
}
