@use "/src/styles/variables";
@use "/src/styles.scss";

.plan-selector {
  display: flex;
  flex-direction: column;
}

@media screen and (min-height: 960px) {
  .plan-selector {
    gap: 2rem;
  }
}

@media screen and (max-width: 1439px) {
  .plan-selector {
    padding: 0 0.175rem;
  }
}
