@use "/src/styles/variables";
@use "/src/styles.scss";

.finishing-up {
  &__overall {
    background-color: variables.$color-neutral-alabaster;
    padding: 1rem;

    @include styles.flex(column, 1rem);

    &__division-line {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      color: variables.$color-neutral-cool-gray;
    }
  }
}

@media screen and (max-width: 1439px) {
  .finishing-up__overall {
    border-radius: 0.5rem;
    margin-top: 0.5rem;
  }
}
