<section
  class="pick-add-ons"
  *ngIf="{ isMonthly: isFacturationCycleMonthly$ | async } as currentPlan"
>
  <app-step-header [stepText]="stepInfo.header"></app-step-header>

  <div class="pick-add-ons__add-ons-container">
    <article
      *ngFor="let addOn of availableAddOns"
      class="pick-add-ons__add-ons-container__add-on"
      [class.selected]="isAddOnSelected(addOn.id)"
      (click)="selectAddOn(addOn.id)"
    >
      <input
        class="pick-add-ons__add-ons-container__add-on__checkbox"
        type="checkbox"
        [checked]="isAddOnSelected(addOn.id)"
      />
      <div class="pick-add-ons__add-ons-container__add-on__text">
        <p class="pick-add-ons__add-ons-container__add-on__text__name">
          {{ addOn.name }}
        </p>
        <p class="pick-add-ons__add-ons-container__add-on__text__description">
          {{ addOn.description }}
        </p>
      </div>
      <p
        class="pick-add-ons__add-ons-container__add-on__monthly-price"
        *ngIf="currentPlan.isMonthly"
      >
        +{{ addOn.cost }}$/mo
      </p>
      <p
        class="pick-add-ons__add-ons-container__add-on__yearly-price"
        *ngIf="!currentPlan.isMonthly"
      >
        +{{ addOn.cost * 10 }}$/yr
      </p>
    </article>
  </div>
</section>
