@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: url("/src/assets/fonts/Ubuntu-Regular.woff2") format("woff2"),
    url("/src/assets/fonts/Ubuntu-Regular.woff") format("woff"),
    url("/src/assets/fonts/Ubuntu-Regular.ttf") format("tff");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  src: url("/src/assets/fonts/Ubuntu-Medium.woff2") format("woff2"),
    url("/src/assets/fonts/Ubuntu-Medium.woff") format("woff"),
    url("/src/assets/fonts/Ubuntu-Medium.ttf") format("tff");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  src: url("/src/assets/fonts/Ubuntu-Bold.woff2") format("woff2"),
    url("/src/assets/fonts/Ubuntu-Bold.woff") format("woff"),
    url("/src/assets/fonts/Ubuntu-Bold.ttf") format("tff");
}
