@font-face {
  font-display: swap;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/ubuntu-v20-latin-regular.eot");
  src: url("../assets/fonts/ubuntu-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/ubuntu-v20-latin-regular.ttf") format("tff"),
    url("../assets/fonts/ubuntu-v20-latin-regular.svg#Ubuntu") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/ubuntu-v20-latin-500.eot");
  src: url("../assets/fonts/ubuntu-v20-latin-500.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/ubuntu-v20-latin-500.ttf") format("tff"),
    url("../assets/fonts/ubuntu-v20-latin-500.svg#Ubuntu") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/ubuntu-v20-latin-700.eot");
  src: url("../assets/fonts/ubuntu-v20-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/ubuntu-v20-latin-700.ttf") format("tff"),
    url("../assets/fonts/ubuntu-v20-latin-700.svg#Ubuntu") format("svg");
}
