<main class="main-component">
  <div class="main-component__card">
    <app-steps-sidebar
      class="main-component__card__sidebar"
      [activeStep]="step"
    ></app-steps-sidebar>

    <app-personal-info
      *ngIf="step == 1"
      class="main-component__card__menus"
      (outputName)="recieveName($event)"
      (outputEmail)="recieveEmail($event)"
      (outputPhone)="recievePhone($event)"
      (outputValidity)="recieveValidity($event)"
      (outputPersonalDetails)="recievePersonalDetails($event)"
    ></app-personal-info>

    <app-plan-selector
      *ngIf="step == 2"
      class="main-component__card__menus"
      (outputPlanType)="recievePlanType($event)"
      (outputIsFacturationCycleMonthly)="
        recieveIsFacturationCycleMonthly($event)
      "
      (outputIsFacturationCycleYearly)="recieveIsFacturationCycleYearly($event)"
      (outputIsValid)="recievePlanSelectorValidity($event)"
    ></app-plan-selector>

    <app-add-ons-picker
      *ngIf="step == 3"
      class="main-component__card__menus"
      [isFacturationCycleMonthly]="planSelectorIsFacturationCycleMonthly"
      [isFacturationCycleYearly]="planSelectorIsFacturationCycleYearly"
      (outputIsOnlineServiceSelected)="recieveAddOnOnlineService($event)"
      (outputIsLargerStorageSelected)="recieveAddOnLargerStorage($event)"
      (outputIsCustomizableProfileSelected)="
        recieveAddOnCustomizableProfile($event)
      "
    ></app-add-ons-picker>

    <app-finishing-up
      *ngIf="step == 4"
      class="main-component__card__menus"
      [selectedPlan]="planSelectorPlanType"
      [isFacturationCycleMonthly]="planSelectorIsFacturationCycleMonthly"
      [isOnlineServiceSelected]="addOnSelectorOnlineServiceSelected"
      [isLargerStorageSelected]="addOnSelectorLargerStorageSelected"
      [isCustomizableProfileSelected]="addOnSelectorCustomizableProfileSelected"
      [planBasicCost]="planBasicCost"
      [totalCost]="totalCost"
      (outputChangePlan)="recieveFinishingUpChangePlan()"
    ></app-finishing-up>

    <app-thank-you
      *ngIf="step == 5"
      class="main-component__card__menus"
    ></app-thank-you>

    <app-buttons-control
      *ngIf="step < 5"
      class="main-component__card__flow-buttons"
      [isPersonalInfoValid]="personalInfoValid"
      [isPlanSelectorValid]="planSelectorIsAnyPlanSelected"
      (outputStep)="recieveCurrentStep($event)"
    ></app-buttons-control>
  </div>
</main>
