<section class="plan-selector">
  <div class="plan-selector__description">
    <h2 class="plan-selector__main-text">Select your plan</h2>
    <p class="plan-selector__description-text">
      You have the option of monthly or yearly billing.
    </p>
  </div>
  <div class="plan-selector__plans">
    <article
      *ngFor="let plan of plansToChooseFrom; let i = index"
      class="plan-selector__plans__plan"
      (click)="selectPlan(i)"
      [class.selected_plan]="isPlanSelected(i)"
    >
      <img class="plan-selector__plans__plan__icon" src="{{ plan.srcURL }}" />
      <h3 class="plan-selector__plans__plan__plan-type">{{ plan.plan }}</h3>
      <p
        class="plan-selector__plans__plan__monthly-rate"
        *ngIf="isFacturationCycleMonthly"
      >
        ${{ plan.monthlyCost }}{{ endingText }}
      </p>
      <p
        class="plan-selector__plans__plan__yearly-rate"
        *ngIf="isFacturationCycleYearly"
      >
        ${{ plan.yearlyCost }}{{ endingText }}
      </p>
      <p
        class="plan-selector__plans__plan__discount"
        *ngIf="isFacturationCycleYearly"
      >
        2 months free
      </p>
    </article>
  </div>
  <div class="plan-selector__billing-selector">
    <p class="plan-selector__billing-selector__options" id="monthly-selector">
      Monthly
    </p>
    <label class="switch">
      <input
        type="checkbox"
        (click)="toggleFacturationCycle()"
        id="switch__checkbox"
      />
      <span class="slider round"></span>
    </label>
    <p class="plan-selector__billing-selector__options" id="yearly-selector">
      Yearly
    </p>
  </div>
</section>
