<section class="pick-add-ons">
  <div class="pick-add-ons__description">
    <h2 class="pick-add-ons__main-text">Pick add-ons</h2>
    <p class="pick-add-ons__description-text">
      Add-ons help enhance your gaming experience.
    </p>
  </div>

  <div class="pick-add-ons__add-ons-container">
    <article
      *ngFor="let addOn of availableAddOns; let i = index"
      class="pick-add-ons__add-ons-container__add-on"
      [class.selected]="isAddOnSelected(i)"
      (click)="selectAddOn(i)"
    >
      <input
        class="pick-add-ons__add-ons-container__add-on__checkbox"
        type="checkbox"
        [checked]="isAddOnSelected(i)"
      />
      <div class="pick-add-ons__add-ons-container__add-on__text">
        <p class="pick-add-ons__add-ons-container__add-on__text__name">
          {{ addOn.addOnName }}
        </p>
        <p class="pick-add-ons__add-ons-container__add-on__text__description">
          {{ addOn.addOnDescription }}
        </p>
      </div>
      <p
        class="pick-add-ons__add-ons-container__add-on__monthly-price"
        *ngIf="isFacturationCycleMonthly"
      >
        +{{ addOn.addOnMonthlyCost }}$/mo
      </p>
      <p
        class="pick-add-ons__add-ons-container__add-on__yearly-price"
        *ngIf="isFacturationCycleYearly"
      >
        +{{ addOn.addOnYearlyCost }}$/yr
      </p>
    </article>
  </div>
</section>
