@use "/src/styles/variables";
@use "/src/styles.scss";

.steps__card {
  background-image: url("../../assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.steps__list {
  padding-top: 1.5rem;

  @include styles.flex(column, 1.5rem);

  list-style: none;

  &__element {
    @include styles.flex(row, 1rem);
  }

  &__button {
    color: variables.$color-neutral-magnolia;
    border-color: variables.$color-neutral-magnolia;
    border-style: solid;

    background-color: transparent;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 1rem;
    text-align: center;
    justify-content: center;
    font-size: 0.825rem;
  }

  &__text {
    color: variables.$color-neutral-cool-gray;
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: 500;

    @include styles.flex(column, 0);
    align-content: space-between;

    &__number {
      font-size: 0.75rem;
      font-weight: 400;
    }

    &__description {
      color: variables.$color-neutral-magnolia;
    }
  }
}

.activeStep {
  outline: none;
  color: variables.$color-primary-marine-blue;
  border-color: variables.$color-primary-light-blue;
  background-color: variables.$color-primary-light-blue;
  font-weight: 800;
}

@media screen and (max-width: 1439px) {
  .steps__card {
    background-image: url("../../assets/images/bg-sidebar-mobile.svg");
    border-radius: 0;
  }

  .steps__list {
    @include styles.flex(row, 1.5rem);
    justify-content: space-around;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    &__button {
      width: 2rem;
      height: 2rem;
    }
  }
}
@media screen and (max-width: 900px) {
  .steps__list {
    &__text {
      align-self: center;
      &__description {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .steps__list__text {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .steps__list {
    justify-content: center;
  }
}
