@use "/src/styles/variables";
@use "/src/styles.scss";

::ng-deep .personal-info__form {
  @include styles.flex(column, 0.5rem);
  &__text {
    @include styles.flex(row, 0.5rem);
    justify-content: space-between;

    &__label {
      font-weight: 500;
    }
  }
  &__field {
    cursor: pointer;
    & input {
      color: variables.$color-primary-marine-blue !important;
    }

    font-weight: 500;
  }
}

@media screen and (max-width: 1439px) {
  form {
    margin-top: 1.5rem;
  }
}
