<section class="personal-info">
  <div class="personal-info__description">
    <h2 class="personal-info__main-text">Personal info</h2>
    <p class="personal-info__description-text">
      Please provide your name, email address, and phone number.
    </p>
  </div>
  <form class="personal-info__form" [formGroup]="form">
    <label class="personal-info__form__text__label">Name</label>
    <mat-form-field appearance="outline" class="personal-info__form__field">
      <input
        matInput
        placeholder="e.g. Stephen King"
        name="name"
        formControlName="name"
      />
    </mat-form-field>

    <div class="personal-info__form__text">
      <label class="personal-info__form__text__label">Email Address</label>
      <mat-error
        *ngIf="form.controls.email.touched && form.controls.email.invalid"
        >{{ getEmailErrorMessage() }}
      </mat-error>
    </div>
    <mat-form-field appearance="outline" class="personal-info__form__field">
      <input
        matInput
        placeholder="e.g. stephenking@lorem.com"
        name="email"
        formControlName="email"
      />
    </mat-form-field>

    <div class="personal-info__form__text">
      <label class="personal-info__form__text__label">Phone Number</label>
      <mat-error
        *ngIf="form.controls.phone.touched && form.controls.phone.invalid"
        >{{ getPhoneErrorMessage() }}</mat-error
      >
    </div>
    <mat-form-field appearance="outline" class="personal-info__form__field">
      <span matTextPrefix *ngIf="form.controls.phone.value != ''">+53 </span>
      <input
        matInput
        placeholder="e.g. +1 234 567 890"
        name="phone"
        formControlName="phone"
      />
    </mat-form-field>
  </form>
</section>
